@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root{
    --primary: #4B0082;
    --secondary: #33006F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Poppins", sans-serif;
  }
  
  body{
      background-color: var(--primary);
  }

  .container{
    display: grid;
    place-items: center;
    height: 100vh;
  }

  .box{
    width: 400px;
    background-color: white;
    padding: 20px;
  }

.upper, form{
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.upper h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
}

form{
    gap: 10px;
    margin-top: 10px;
}

form input{
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    border: 1px solid var(--primary);
}

form input:focus-visible{
    outline: 1px solid var(--primary);
}

form button{
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    background-color: var(--primary);
    border: none;
    color: white;
    opacity: 0.9;
    transition: 0.3s ease-in;
}

form button:hover{
    opacity: 1;
    cursor: pointer;
    transition: 0.3s ease-in;
}

form button:active{
    background-color: var(--secondary);
}

.qr-container{
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    height: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in, height 0.1s ease;
}

.qr-container.show{
    padding: 10px;
    height: 170px;
    opacity: 1; 
    transition: opacity 0.3s ease-in, height 0.1s ease;
}

.qr-container img{
    height: 150px   ;
}

/* media query */
@media (max-width:425px){
    .box{
        width: 330px;
    }

    .upper h1{
        font-size: 28px;
    }

    .upper p{
        font-size: 14px;
    }

    form input{
        height: 35px;
    }

    form button{
        height: 35px;
    }
}

@media (max-width:375px){
    .box{
        width: 300px;
    }

    .upper h1{
        font-size: 24px;
    }

    .upper p{
        font-size: 12px;
    }

    form input{
        height: 30px;
    }

    form button{
        height: 30px;
    }
}

@media(max-width:320px){
    .box{
        width: 280px;
    }
}